html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ddd4cd;
  --secondary-color: #b19d84;
  --primary-light-color: #f8f4f1;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
}

.inicio_header {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 3px solid #ddd4cd;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.inicio_div_header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 40px;
  max-width: 1200px;
}

.inicio_logo {
  font-size: 24px;
  color: black;
  justify-content: flex-start;
  width: 100%;
}

.inicio_nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inicio_ul_linksInicio {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.inicio_ul_linksInicio a {
  color: black;
  font-size: 16px;
}

.inicio_div_contacto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.inicio_a_contacto {
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 5px;
  list-style: none;
  color: #fff;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.inicio_a_contacto:hover {
  background-color: var(--primary-color);
  color: #000;
}

.inicio_home_ul {
  list-style: none;
}

.inicio_main {
  margin-top: 80px;
}

.inicio_home_section {
  display: flex;
  justify-content: center;
}

.inicio_home_div1200 {
  max-width: 1200px;
  width: 100%;
  margin: 40px;
}

.inicio_home_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.inicio_home_article .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.inicio_home_article .item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.inicio_home_article .item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.inicio_home_article .item4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.inicio_home {
  background-color: var(--primary-light-color);
  padding: 32px;
}

.inicio_home_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inicio_home_joyeria {
  font-size: 64px;
  color: var(--secondary-color);
  padding-bottom: 40px;
}

.inicio_home_li {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.7);
}

.inicio_titulo_galeria {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 60px;
}

.inicio_titulo_galeria_h2 {
  font-size: 40px;
  font-weight: 300;
  /* text-align: center; */
}

.inicio_galeria_select {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inicio_galeria_select_h4 {
  color: var(--secondary-color);
  font-size: 20px;
  padding: 5px;
}

.inicio_galeria_select_categoria {
  font-weight: 500;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
  text-indent: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-right: 20px solid white;
}

/*   */

/* Estilos para la tarjeta de producto dentro de una estructura de grid */

.inicio_galeria_fotos {
  display: flex;
  justify-content: center;
}

.inicio_galeria_fotos_grid {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 40px;
}

/* Estilos de la tarjeta */

.product-card {
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 16px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-type {
  font-size: 16px;
  color: #e44d26;
}

.product-description {
  font-size: 14px;
  color: #777;
}

@media (max-width: 1024px) {
  .inicio_galeria_fotos_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .inicio_galeria_fotos_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos específicos para pantallas pequeñas (<600px) */

@media (max-width: 640px) {
  .inicio_galeria_fotos_grid {
    grid-template-columns: 1fr;
  }
}

form {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.inicio_contacto_submit:hover {
  background-color: var(--primary-color);
  color: #000;
}

@media (max-width: 600px) {
  form {
    max-width: 100%;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}

.footer-links ul {
  list-style: none;
  display: flex;
}

.footer-links ul li {
  margin-right: 20px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}
