html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ddd4cd;
  --secondary-color: #b19d84;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.inicio_header {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 3px solid #ddd4cd;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio_div_header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 40px;
  max-width: 1200px;
}

.inicio_logo {
  font-size: 24px;
  color: black;
  justify-content: flex-start;
  width: 100%;
}

.inicio_nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inicio_ul_linksInicio {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.inicio_ul_linksInicio a {
  color: black;
  font-size: 16px;
}

.inicio_div_contacto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.inicio_a_contacto {
  background-color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 5px;
  list-style: none;
  color: black;
  font-size: 18px;
}

.inicio_home_ul {
  list-style: none;
}

.inicio_main {
  margin-top: 80px;
}

.inicio_home_section {
  display: flex;
  justify-content: center;
}

.inicio_home_div1200 {
  max-width: 1200px;
  width: 100%;
  margin: 40px;
}

.inicio_home_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.inicio_home_article .item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.inicio_home_article .item:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 3;
}

.inicio_home_article .item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inicio_homejoyeria {
  font-size: 64px;
  color: var(--secondary-color);
  padding-bottom: 4rem;
}

.inicio_home_ul :not(:first-child) {
  font-size: 32px;
}
