html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ddd4cd;
  --secondary-color: #b19d84;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.inicio_header {
  position: fixed;
  top: 0;
  border-bottom: 3px solid #ddd4cd;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio_div_header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0px 32px;
  max-width: 1200px;
}

.inicio_logo {
  font-size: 24px;
  color: black;
  justify-content: flex-start;
  width: 100%;
}

.inicio_nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inicio_ul_linksInicio {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.inicio_ul_linksInicio a {
  color: black;
  font-size: 16px;
}

.inicio_div_contacto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.inicio_a_contacto {
  background-color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 5px;
  list-style: none;
  color: black;
  font-size: 18px;
}

.inicio_h1 {
  padding: 10rem;
}

.inicio_h1_list {
  list-style: none;
}
